*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 1500px;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
}
.article-0{
    display: flex;
    justify-content: center;
}
.main-0{
    flex: 0 0 50%;
    background-color:#333 ;
    padding-bottom: 80px;
    position: relative;
    
}
.main-1{
    flex: 0 0 50%;
    background-image: url(/vertex/vertex-img/vertex-bg-01.jpg);
    background-attachment: fixed;
    background-position: 100px 0px;
    background-size: contain;
}
.sub-box img{
    width: 200px;
    height: 200px;
}
.main-nav{
    display: flex;
    column-gap: 80px;
    justify-content: center;
    padding-block: 30px;
    background-color: #444;
    
}
.main-nav ul{
    display: flex;
    list-style: none;
    column-gap: 80px;
}
.main-nav a{
    text-decoration: none;
    font-size: 20px;
    color: #999;
}
.main-box{
    display: flex;
    justify-content: center;
    align-self: center;
    column-gap: 10px;
    padding: 80px 20px 0px 40px;
    color: #999;
    
}
.sub-box{
    flex: 0 0 35%;
}
.sub-box1{
    flex: 0 0 53%;
    position: relative;
}
.sub-box1 h1 a{
    font-size: 29px;
    text-decoration: none;
    color: #9C9;
}
.sub-box1 h1{
    padding-bottom: 35px;
}
.sub-box1 h4{
    padding-top: 20px;
    text-align: end;
    font-size: 18px;
}
.sub-box1 p{
    font-size: 16px;
    line-height: 35px;

}
.sub-box1 p a{
    text-decoration: none;
    color: white;
}
#color {
    color: #9c9;
}
.main-nav a:hover{
    color: #9c9;
}
#bor-0::after{
    content: "";
    border-bottom: 1px solid rgb(160, 154, 154);
    width: 330px;
    height: 4px;
    position: absolute;
    left: 40px;
    top: 305px;
}
#bor::after{
    content: "";
    border-bottom: 1px solid rgb(160, 154, 154);
    width: 330px;
    height: 4px;
    position: absolute;
    left: 40px;
    top: 270px;
}

.a-tag a{
    text-decoration: none;
    color: #999;
    border: 1px solid;
    padding: 14px 35px;
    font-size: 21px;
}
.a-tag{
    text-align: end;
    padding: 80px 40px 40px 0px;

}
.a-tag a:hover{
    color: #9c9;
}
/* section-1 */


.main-box1{
    display: flex;
    color: #999;
   
}
.sub-box2{
    flex: 0 0 50%;
    padding: 120px 40px 20px 60px;
    background-color: #333;
}
.sub-box2 h2{
    padding-bottom: 20px;
    font-size: 27px;
    color: #9C9;
}
.sub-box2 p{
    padding-bottom: 35px;
    line-height: 30px;
}
.sub-box10{
    flex: 0 0 50%;
    background-image: url(/vertex/vertex-img/vertex-bg-02.jpg);
    background-attachment: fixed;
    background-position: -320px ;
   
}
.sub-10{
    display: flex;
    justify-content: center;
    column-gap: 35px;
    padding: 50px 0px;
}
.content-1{
    flex: 0 0 40%;
    text-align: start;  
}

.content-1 i{
    padding-left: 80px;
    padding-bottom: 25px;
}
.a-tag1 a{
    text-decoration: none;
    color: #999;
    border: 1px solid;
    padding: 14px 35px;
    font-size: 21px;
}
.a-tag1{
    text-align: end;
    padding: 30px 40px 40px 0px;
    position: relative;

}
.a-tag1 a:hover{
    color: #9c9;
}
.a-tag1::after{
    content: "";
    border-bottom: 1px solid rgb(160, 154, 154);
    width: 330px;
    height: 4px;
    position: absolute;
    left: 60px;
    top: 70px;

}

/* section-3 */
.article-3{
    padding: 100px 0px;
    background-color: #333;
}
.article-3 h1{
    text-align: center;
    color: #9C9;
    padding-block: 30px;
}
.sub-box3 img{
    width: 250px;
    height: 250px;
    position: relative;
    z-index: 2;
}
.sub-3 h2{
    text-transform: uppercase;
    color: white;
    position: absolute;
    left: 70px;
    top: 190px;
    z-index: 2;
    transition: transform 0.35s;
    letter-spacing: 1px;
    font-weight: 500;

    
}
.sub-box3{
    position: relative;
    text-align: center;
    width: 250px;
    height: 250px; 
    overflow: hidden;
    background-color: #9C9;
}
.sub-box3 p{
    color: white;
    padding: 25px 10px 40px ;
    background-color: #9C9;
    transform: translate3d(0,-80px,0);
    transition: 0.35s;
    position: relative;
    z-index: 1;
    font-size: 20px;
    
}
.sub-box3 img:hover{
    transform: translate3d(0,-80px,0);
    transition: 0.35s;
}
.main-box3{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-block: 30px;
    
}
.sub-box3:hover h2{
    transform: translate3d(0,-100px,0);
}
.main-box30{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-block: 30px;  
}
.main-box31{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-block: 30px;  
}

.box-3 a{
    padding: 13px 17px;
    border: 1px solid #222;
    text-decoration: none;
    margin: 10px;
    background-color: #222;
    color: #999;
    font-size: 18px;
}
.box-3{
    text-align: center;
    padding-block: 50px;
}
.box-3 a:hover{
    background-color: #444;
    color: #999;
    border: #444;
}
.click-4{
    display: none;
}
.click-5{
    display: none;
}

/* article-4 */

.sub-box4{
    padding-block: 150px;
    padding-inline: 80px;
    flex: 0 0 50%;
    font-size: 18px;
    background-color: #333;
    color: #999;
    position: relative;
}
.sub-box4 h1{
    color: #9C9;
}
.sub-box4  p{
    padding-block: 25px;
    padding-inline: 40px; 
    line-height: 30px;
}
.main-box4{
    display: flex;
    
}
.sub-box40{
    flex: 0 0 50%;
    background-image: url(/vertex/vertex-img/vertex-bg-03.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 690px;
}
#p{
    padding-top: 70px;
}
.sub-box4::after{
    content: "";
    border-bottom: 3px solid #545353;
    width: 350px;
    position: absolute;
    top: 480px;
    left: 180px;

}
.name input{
    border: none;
    border-bottom: 1px solid;
    width: 100%;
    font-size: 20px;
    padding: 20px 15px;
    margin-bottom: 50px;
    text-transform: capitalize;
    background-color: #444;
    color: #999;
}
.mail input{
    border: none;
    border-bottom: 1px solid;
    width: 100%;
    font-size: 20px;
    padding: 20px 15px;
    margin-bottom: 50px;
    text-transform: capitalize;
    background-color: #444;
    color: #999;
}
.message textarea{
    border: none;
    border-bottom: 1px solid;
    width: 100%;
    font-size: 20px;
    padding: 20px 15px;
    margin-bottom: 50px;
    text-transform: capitalize;
    background-color: #444;
    color: #999;
}
.submit button{
    padding: 10px 35px ;
    font-size: 20px;
    text-transform: capitalize;
    color: #999;
    background-color: #444;
    border: 1px solid #999;

}
.submit{
    text-align: end;
    padding-top: 40px;
    padding-right: 50px;
}
.main-box5{
    display: flex;

}
.sub-box5{
    flex: 0 0 50%;
    padding-block:100px 150px ;
    padding-inline: 100px;
    font-size: 19px;
    background-color: #444;
}
.sub-box50{
    flex: 0 0 50%;
    background-image: url(/vertex/vertex-img/vertex-bg-04.jpg);
    background-attachment: fixed;
    background-repeat:no-repeat ;
    background-position: 850px;
    background-size: contain;
    position: relative;
    
}
form{
    padding-inline: 40px;
}
.sub-box5 p{
    line-height: 30px;
    padding-block: 30px;
    color: #999;
}
.sub-box5 h1{
    color: #9C9;
}
.sub-box50 iframe{
    width: 350px;
    height: 400px;
    margin-top: 250px;
}

.fixed {
    width: 350px;
    border: 1px solid #444;
    height: 300px;
    text-align: center;
    color: #999;
    background-color: #444;
    position: absolute;
    left: 370px;

   
    
}
.fixed i{
    padding-top: 50px;
    font-size: 80px;
}
.fixed h1{
    padding-top: 20px;
    font-size: 40px;

}
/* .main-f{
    position: fixed;
    z-index: 50;
} */
